BaseSystem.img
BaseSystem.dmg
BaseSystem.chunklist
OpenCore.qcow2
mac_hdd_ng.img
*.img
*.qcow2
builds/
mos15.img
.env
kexts/*/build/
kexts/CPUFriend/Tools/CPUFriendDataProvider.kext
*.o
kexts/deps/
kexts/*/build/
oc-check.bin
